*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

* {
    font-family: 'Lato', sans-serif;
}

#banner {
    display: flex;
    align-items: center;
}

#logo {
    width: 30vw;
    justify-self: flex-start;
}

#catchphrase {
    font-size: 2em;
    flex-grow: 1;
    text-align: center;
}

#promo {
    width: 100%;
}

h1,
h2,
p {
    padding: 5px;
}

nav {
    background-color: #000;
}

.navlist {
    list-style-type: none;
    display: flex;
    padding: 10px;
    color: lightgray;
    margin: 0;
}

.navlist>li {
    margin: 5px;
}

.navlist>li>a {
    color: lightgray;
}

.navlist>li>a:hover {
    color: salmon;
}

#content {
    display: flex;
}

#left {
    flex-grow: 1;
}

#right {
    font-size: 2rem;
    word-break: break-all;
    background-color: #888;
    min-width: 30vw;
    text-align: center;
}

footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    margin: 0;
}

table {
    width: 100%;
    background-color: #FFFFFF;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #7ea8f8;
    border-style: solid;
    color: #000000;
}

table td,
table th {
    border-width: 2px;
    border-color: #7ea8f8;
    border-style: solid;
    padding: 5px;
}

table thead {
    background-color: #7ea8f8;
}

table img {
    width: 150px;
}

#persinfo,
#query {
    display: flex;
    flex-direction: column;
}

#consent {
    display: inline;
}