html,
body {
    font-size: 20px;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

code {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    padding: 0.2em 0.4em;
    padding-top: 0.2em;
    padding-right: 0.4em;
    padding-bottom: 0.2em;
    padding-left: 0.4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27, 31, 35, .05);
    border-radius: 3px;
    color: #e83e8c;
    word-wrap: break-word;
}

hr {
    border-top: 1px dotted red;
}

.content {
    display: flex;
    flex-direction: column;
}

nav {
    position: fixed;
    height: 100vh;
    width: 10vw;
    background-color: #000;
}

#ex1 {
    background-color: rgba(168, 244, 124, 0.1);
}

#ex2 {
    background-color: rgba(194, 154, 234, 0.1)
}

.exs {
    width: 80vw;
    padding: 0 12vw 3vh 12vw;
}

.exs:first-child {
    border-bottom: 1px solid #000;
}

.exs:not(:first-child) {
    border-top: 1px solid #000;
}

nav li {
    color: #ff0;
    font-size: 24px;
}

nav a {
    color: #ff0;
}

.buttonEx {
    background-color: #000;
    color: #ff0;
    border-radius: 12px;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    border: 0;
    font-size: 16px;
}

.buttonEx:hover {
    background: #333;
}