html,
body {
    font-size: 20px;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

code {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    padding: 0.2em 0.4em;
    padding-top: 0.2em;
    padding-right: 0.4em;
    padding-bottom: 0.2em;
    padding-left: 0.4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27, 31, 35, .05);
    border-radius: 3px;
    color: #e83e8c;
    word-wrap: break-word;
}

hr {
    border-top: 1px dotted red;
}

nav {
    position: fixed;
    height: 100vh;
    width: 10vw;
    background-color: rgba(162, 77, 168, 0.5)
}

nav li {
    color: #000;
    font-size: 24px;
    margin: 25% 0;
}

nav a {
    color: #000;
}

.content {
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
}

.exs>div {
    margin: 2%;
}

.exs:not(:first-child) {
    border-top: 1px solid #000;
}

.exs:not(:last-child) {
    border-bottom: 1px solid #000;
}

#ex1 {
    background-color: rgba(168, 244, 124, 0.3);
}

#ex2 {
    background-color: rgba(194, 154, 234, 0.3)
}

#ex3 {
    background-color: rgba(224, 239, 208, 0.3)
}

.buttonEx {
    background-color: #ccc;
    color: #222;
    border-radius: 12px;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    border: 0;
    font-size: 16px;
}

.buttonEx:hover {
    background: #aaa;
    color: #000;
}