nav {
    min-height: 5vh;
}

footer {
    min-height: 5vh;
}

.text-justify {
    text-align: justify;
}

figure {
    display: flex;
    flex-flow: column;
    margin-bottom: 30px;
}

figcaption {
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}