html,
body,
#container {
    height: 100%;
}

nav {
    min-height: 75px;
}

footer {
    min-height: 75px;
    position: sticky;
    top: 100vh;
}

.text-justify {
    text-align: justify;
}

#logo {
    height: 50px;
}

.nav-margin {
    margin-top: 75px;
}

#banner {
    width: 50%;
    text-align: center;
}

figure {
    display: flex;
    flex-flow: column;
    margin-bottom: 30px;
}

figcaption {
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

table th,
table td {
    text-align: center;
    vertical-align: middle;
}

table img {
    height: 96px;
}